@{
    ViewBag.Title = "Account Page";
}

<main>
   

    <div class="row">
       Account page View
    </div>

    <!-- Login / Logout buttons -->
    <div class="row">
        <section class="col-md-12 text-center" aria-labelledby="loginSection">
            <h2 id="loginSection">User Authentication</h2>
            @if (Request.IsAuthenticated)
            {
                <p>Account, @User.Identity.Name</p>
                <button class="btn btn-danger" onclick="location.href='@Url.Action("SignOut", "Home")'">Cerrar sesión</button>
            }
            else
            {
                <button class="btn btn-success" onclick="location.href='@Url.Action("SignIn", "Home")'">Iniciar sesión</button>
            }
        </section>
    </div>
</main>
